
<h1> Transits by operator <%= "#{current_user.first_name}" %> </h1>
<div class="container-fluid">
<table class="table table-sm table-bordered border-secondary">

 <thead class="table-dark">
        <tr>
            <th > Name </th>
            <th> Second name </th>
            <th> Patronimyc </th>
            <th> Phone number</th>
            <th> email </th>
            <th> weight </th>
            <th> volume </th>
            <th> Point_of_departure </th>
            <th> Destination</th>
            <th> Distance(km)</th>
            <th> Price  (rub)</th>
            <th> Author </th>

            
        </tr>
</thead>

<tbody>
    <%@transits.each do |transit|%>
    <tr>
        <td> <%=transit.first_name%> </td>
        <td> <%=transit.second_name%> </td>
        <td> <%=transit.patronymic%> </td>
        <td> <%=transit.tel%> </td>
        <td> <%=transit.email%> </td>
        <td> <%=transit.weight%> </td>
        <td> <%=(transit.length * transit.width * transit.height / 1000000.0).round(3) %> </td>
        <td> <%=transit.point_of_departure%> </td>
        <td> <%=transit.destination%> </td>
        <td> <%=transit.distance%> </td>
        <td> <%=transit.price%> </td>
        <td> <%=transit.user.second_name %> </td>
    </tr>
    <%end%>
</tbody>
        
</table>

</div>


